<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="MoreClipboard.Category"
            class="moreclipboard.MCView"
            icon="icons/mc.ico"
            id="MoreClipboard.view"
            name="%view.name.0"
            restorable="true">
      </view>
      <category
            id="MoreClipboard.Category"
            name="%category.name.0">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="MoreClipboard.commands.morePaste"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="MoreClipboard.commands.moreCopy"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="MoreClipboard.commands.moreCut"
            name="%command.name.2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="moreclipboard.MCPasteHandler"
            commandId="MoreClipboard.commands.morePaste">
      </handler>
      <handler
            class="moreclipboard.MCCopyHandler"
            commandId="MoreClipboard.commands.moreCopy">
      </handler>
      <handler
            class="moreclipboard.MCCutHandler"
            commandId="MoreClipboard.commands.moreCut">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="MoreClipboard.commands.morePaste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="MoreClipboard.commands.morePaste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+INSERT">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCopy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCopy"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCut"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+DELETE">
      </key>
   </extension>

</plugin>
