<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="MoreClipboard.Category"
            class="moreclipboard.ContentsView"
            icon="icons/mc.ico"
            id="MoreClipboard.view"
            name="%view.name.0"
            restorable="true">
      </view>
      <category
            id="MoreClipboard.Category"
            name="%category.name.0">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.description.0"
            id="MoreClipboard.commands.morePaste"
            name="%command.name.0">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.description.1"
            id="MoreClipboard.commands.moreCopy"
            name="%command.name.1">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.description.2"
            id="MoreClipboard.commands.moreCut"
            name="%command.name.2">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.description.3"
            id="MoreClipboard.commands.morePasteIndex"
            name="%command.name.3">
         <commandParameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               name="%parameter.name.0"
               optional="false"
               values="moreclipboard.PasteIndexParameterValues">
         </commandParameter>
      </command>
      <category
            id="moreclipboard.categories.view"
            name="MoreClipboard View">
      </category>
      <command
            categoryId="moreclipboard.categories.view"
            description="Remove selected items from the MoreClipboard&apos;s Contents View"
            id="MoreClipboard.commands.ContentsView.deleteSelected"
            name="MoreClipboard ContentsView RemoveSelected">
      </command>
      <command
            categoryId="moreclipboard.categories.view"
            description="Move current item up in MoreClipboard ContentsView"
            id="MoreClipboard.commands.ContentsView.moveUp"
            name="MoreClipboard ContentsView move item up">
      </command>
      <command
            categoryId="moreclipboard.categories.view"
            description="Move current item down in MoreClipboard ContentsView"
            id="MoreClipboard.commands.ContentsView.moveDown"
            name="MoreClipboard ContentsView move item down">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="moreclipboard.PasteHandler"
            commandId="MoreClipboard.commands.morePaste">
      </handler>
      <handler
            class="moreclipboard.CopyHandler"
            commandId="MoreClipboard.commands.moreCopy">
      </handler>
      <handler
            class="moreclipboard.CutHandler"
            commandId="MoreClipboard.commands.moreCut">
      </handler>
      <handler
            class="moreclipboard.PasteIndexHandler"
            commandId="MoreClipboard.commands.morePasteIndex">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="MoreClipboard.commands.morePaste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V">
      </key>
      <key
            commandId="MoreClipboard.commands.morePaste"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+INSERT">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCopy"
            contextId="MoreClipboard.contexts.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCopy"
            contextId="MoreClipboard.contexts.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+INSERT">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCut"
            contextId="MoreClipboard.contexts.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="MoreClipboard.commands.moreCut"
            contextId="MoreClipboard.contexts.main"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+DELETE">
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 1">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="0">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 2">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="1">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 3">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="2">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 4">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="3">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 5">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="4">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 6">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="5">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 7">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="6">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 8">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="7">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.morePasteIndex"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+V 9">
         <parameter
               id="MoreClipboard.commands.morePasteIndexParameter"
               value="8">
         </parameter>
      </key>
      <key
            commandId="MoreClipboard.commands.ContentsView.deleteSelected"
            contextId="MoreClipboard.contexts.View"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="DEL">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.description.0"
            id="MoreClipboard.contexts.main"
            name="%context.name.0"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
      <context
            id="MoreClipboard.contexts.View"
            name="In MoreClipboard Contents View"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="moreclipboard.StartupAssurer">
      </startup>
   </extension>

</plugin>
